.env

_pycache
chroma
Include
Lib
Scripts
share

RAG/
venv/
venv/
*.pyc
__pycache__/
functions/
etc/
.vscode/


uploaded_files/

../.vscode/
../Include/
../Lib/
../Scripts/
../__pycache__
../__pycache__/
../chroma/
../etc/
../share/

render.yaml
pyproject.toml
